Host,Drive,Size,Free,Health,Drive,Size,Free,Health,RAM,Free,SWAP,Free,Peak
{% for host in play_hosts %}  
  {{ hostvars[host]['inventory_hostname'] }},{{ hostvars[host]['drive_information'] | join(',') }}
{% endfor %}

